{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper container my-5">
    <div class="d-flex justify-content-between mb-5">
        <h1>Employees List</h1>
        <div>
            <a class="btn btn-primary" href="{{path('app_employees_add')}}">Add New</a>
        </div>
    </div>
    
    {# stampa i dipendenti #}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                {# <th scope="col">Birtday</th>
                <th scope="col">Gender</th>
                <th scope="col">Salary</th> #}
                <th scope="col">Department</th>
                <th scope="col">Informations</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        {% for employee in employees %}
            <tbody>
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.lastname }}</td>
                    {# <td>{{ employee.birthday | date("j F Y") }}</td>
                    <td>{{ employee.gender}}</td>
                    <td>€ {{ employee.salary}}</td> #}
                    <td>{{ employee.department.department }}</td>
                    <td><a href="{{path('app_employees_show_information', { employee : employee.id }) }}" class="btn btn-info">More Info</a></td>
                    <td><a href="{{path('app_employees_edit_information', { employee : employee.id }) }}" class="btn btn-warning">Edit Info</a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>



</div>
{% endblock %}
